<!DOCTYPE html>
<!--
	Massively by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <head>
    <title>Travel & Dew</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="assets/css/main.css" />
    <noscript
      ><link rel="stylesheet" href="assets/css/noscript.css"
    /></noscript>
    <link rel="icon" href="images/thelogo.png" />
  </head>
  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper" class="fade-in">
      <!-- Intro -->
      <div id="intro">
        <h1>
          This is<br />
          RealTraveler
        </h1>
        <p>
          This is a website travel story by
          <a href="https://www.instagram.com/rea1.wed/">@Dew</a> for
          <a href="">Tourists</a><br />
          who want attractions and information to travel.
        </p>
        <ul class="actions">
          <li>
            <a
              href="#header"
              class="button icon solid solo fa-arrow-down scrolly"
              >Continue</a
            >
          </li>
        </ul>
      </div>

      <!-- Header -->
      <header id="header">
        <a href="" class="logo">Travel & Dew</a>
      </header>

      <!-- Nav -->
      <nav id="nav">
        <ul class="links">
          <li class="active"><a href="">This is RealTraveler</a></li>
          <li><a href="generics">About</a></li>
          <li><a href="elements">Elements Reference</a></li>
        </ul>
        <ul class="icons">
          
          <li>
            <a
              href="https://www.facebook.com/DewDooo/"
              class="icon brands fa-facebook-f"
              ><span class="label">Facebook</span></a
            >
          </li>
          <li>
            <a href="#" class="icon brands fa-twitter"
              ><span class="label">Twitter</span></a
            >
          </li>
          <li>
            <a
              href="https://www.instagram.com/rea1.wed/"
              class="icon brands fa-instagram"
              ><span class="label">Instagram</span></a
            >
            <li>
            <a
            href="https://www.instagram.com/rea1.wed/"
            class="icon brands fa-github"
            ><span class="label">Github</span></a
          >
        </li>
        <li>
          <a
          href="https://www.youtube.com/@GoWentGo"
          class="icon brands fa-youtube"
          ><span class="label">Youtube</span></a
        >
        </li>
          </li>
        </ul>
      </nav>

      <!-- Main -->
      <div id="main">
        <!-- Featured Post -->
        <article class="post featured">
          <header class="major">
            <span class="date">November 26, 2022</span>
            <h2>
              <a href="#"
                >หมู่บ้านไร้ถนน<br />
                แห่งเยอรมนี</a
              >
            </h2>
            <p>
              หลายคนน่าจะเคยเห็นหมู่บ้านไร้ถนน
              แห่งเนเธอร์แลนด์ไปแล้วแต่รู้ไหมครับ
              ว่าที่ประเทศเยอรมนีก็มีหมู่บ้านไร้ถนน เหมือนกัน
              แถมเป็นหมู่บ้านไร้ถนนที่ไม่มี ถนนเข้าไปถึงข้างใน จริง ๆ
              ต้องพายเรือ เข้าไปเท่านั้นและที่นี่ยังเป็นหมู่บ้านของ
              ชาวซอร์เบียนดั้งเดิมอีกด้วยที่สำคัญ หมู่บ้านนี้สวยและน่ารักมาก
              <br />
              ขอต้อนรับทุกคนเข้าสู่ Lehde.
            </p>
          </header>
          <a href="#" class="image main"
            ><img src="images/lehde.png" alt=""
          /></a>
          <ul class="actions special">
            <li><a href="#" class="button large">Full Story</a></li>
          </ul>
        </article>

        <!-- Posts -->
        <section class="posts">
          <article>
            <header>
              <span class="date">November 15, 2022</span>
              <h2>
                <a href="#"
                  >นครกรุงเบอลิน <br />
                  เมืองหลวงแห่งเยอรมณี</a
                >
              </h2>
            </header>
            <a href="#" class="image fit"
              ><img src="images/berlin.png" alt=""
            /></a>
            <p>
              เบอร์ลินเป็นเมืองหลวงและเมืองที่ใหญ่ที่สุดของประเทศเยอรมัน
              อีกทั้งยังเป็นศูนย์กลางสำคัญทางการเมืองและวัฒนธรรมต่างๆ
              ของประเทศเยอรมันอีกด้วย
              นอกจากนี้กรุงเบอร์ลินยังเป็นเมืองที่มีการผสมผสานระหว่างสถาปัตยกรรมใหม่และสถาปัตยกรรมแบบคลาสสิกดั้งเดิมเอาไว้อย่างสวยงาม.
            </p>
            <ul class="actions special">
              <li><a href="#" class="button">Full Story</a></li>
            </ul>
          </article>
          <article>
            <header>
              <span class="date">September 10, 2022</span>
              <h2>
                <a href="#"
                  >โคเปนเฮเก้น, เดนมาร์ก<br />
                  เมืองที่มีความสุขที่สุดในโลก</a
                >
              </h2>
            </header>
            <a href="#" class="image fit"
              ><img src="images/kobenhavn.png" alt=""
            /></a>
            <p>
              เมืองหลวงและเมืองที่ใหญ่ที่สุดของประเทศเดนมาร์กและด้วยความที่โคเปนเฮเกนคือหนึ่งในเมืองที่เก่าแก่ที่สุดในทวีปยุโรปและยังถือเป็นเมืองที่ใหญ่ที่สุดของประเทศในแถบสแกนดิเนเวียน
              ทำให้เมืองหลวงริมทะเลแห่งนี้มีความเจริญและกลายมาเป็นเมืองท่องเที่ยวสำคัญของโลกที่ทุกคนต้องห้ามพลาดมาเยือนให้ได้ซักครั้งครับ.
            </p>
            <ul class="actions special">
              <li><a href="#" class="button">Full Story</a></li>
            </ul>
          </article>
          <article>
            <header>
              <span class="date">August 14, 2022</span>
              <h2>
                <a href="#"
                  >Undredal, นอร์เวย์<br />
                  หมู่บ้านเทพนิยาย inspired ของ frozen</a
                >
              </h2>
            </header>
            <a href="#" class="image fit"
              ><img src="images/undredal.png" alt=""
            /></a>
            <p>
              Undredal หมู่บ้านลับ ริมฟยอร์ด ที่มาพร้อมกับวิวสุดอลังของหุบเขา
              และสายน้ำ
              แถมยังมีบ้านหลังน้อยใหญ่สีสันสดใสแต่งแต้มให้ดูมีชีวิตชีวาราวกับหมู่บ้านในโลกเทพนิยาย
              ไม่ว่าจะมองไปทางไหนก็จะพบกับความสวยงามและความสงบ
              สัมผัสธรรมชาติและสูดอากาศบริสุทธิ์ได้เต็มที่เลยครับ.
            </p>
            <ul class="actions special">
              <li><a href="#" class="button">Full Story</a></li>
            </ul>
          </article>
          <article>
            <header>
              <span class="date">July 13, 2022</span>
              <h2>
                <a href="#"
                  >อัมเตอร์อดัม, เนเธอร์แลนด์<br />
                  เมืองเล็กในฝันของใครหลายคน</a
                >
              </h2>
            </header>
            <a href="#" class="image fit"
              ><img src="images/amteradam.png" alt=""
            /></a>
            <p>
              อัมสเตอร์ดัมเป็นเมืองหลวงของประเทศเนเธอร์แลนด์
              เมืองเล็กๆในฝันของใครหลายๆคน
              อยู่ที่นี่เราจะเห็นคนขี่จักรยานเต็มไปหมด
              เดินไปทางไหนก็จะเจอคลองน่ารักๆอยู่รอบเมืองดอกไม้สวย อากาศดี
              มีสถาปัตยกรรมเก่าแก่อลังการที่สวยน่าค้นหา ในขณะเดียวกันก็มีคาเฟ่
              ของวินเทจเก๋ๆ และงานศิลปะ.
            </p>
            <ul class="actions special">
              <li><a href="#" class="button">Full Story</a></li>
            </ul>
          </article>
          <article>
            <header>
              <span class="date">Febuary 5, 2022</span>
              <h2>
                <a href="#"
                  >กรุงโรม, อิตาลี<br />
                  อณาจักรแห่งโรมัน</a
                >
              </h2>
            </header>
            <a href="#" class="image fit"
              ><img src="images/rome.png" alt=""
            /></a>
            <p>
              เป็นหลวงที่ใหญ่และเจริญที่สุดของประเทศอิตาลี
              มีเสน่ห์และความสวยงามมากจนเป็นเมืองที่ได้รับความนิยมจากนักท่องเที่ยวมากที่สุดเป็นอันดับที่
              11 ของโลก และเป็นอันดับ 3 ของสหภาพยุโรป
              บริเวณใจกลางของโรมเป็นศูนย์กลางทางประวัติศาสตร์ที่ได้รับการขึ้นทะเบียนให้เป็นมรดกโลกโดยองค์กรยูเนสโก.
            </p>
            <ul class="actions special">
              <li><a href="#" class="button">Full Story</a></li>
            </ul>
          </article>
          <article>
            <header>
              <span class="date">December 7, 2021</span>
              <h2>
                <a href="#"
                  >เบอร์เกน, นอร์เวย์<br />
                  เมืองที่ฝนตกบ่อยสุดในยุโรป</a
                >
              </h2>
            </header>
            <a href="#" class="image fit"
              ><img src="images/burgen.png" alt=""
            /></a>
            <p>
              เบอร์เกน เป็นท่าเรือเก่าแก่ที่มีอายุเกือบ 300 ปี
              อาคารไม้สีพาสเทลสดใสเรียงรายตามถนน ขนานไปกับริมน้ำ
              เป็นท่าเรือสำหรับค้าขายที่สำคัญมากๆ ของเมืองBergen
              เมืองที่ถูกโอบล้อมด้วยภูเขาถึง 7 ลูก.
            </p>
            <ul class="actions special">
              <li><a href="#" class="button">Full Story</a></li>
            </ul>
          </article>
        </section>

        <!-- Footer -->
        <footer>
          <div class="pagination">
            <!--<a href="#" class="previous">Prev</a>-->
            <a href="#" class="page active">1</a>
            <a href="#" class="page">2</a>
            <a href="#" class="page">3</a>
            <span class="extra">&hellip;</span>
            <a href="#" class="page">8</a>
            <a href="#" class="page">9</a>
            <a href="#" class="page">10</a>
            <a href="#" class="next">Next</a>
          </div>
        </footer>
      </div>

      <!-- Footer -->
      <footer id="footer">
        <section>
          <form method="post" action="#">
            <div class="fields">
              <div class="field">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" />
              </div>
              <div class="field">
                <label for="email">Email</label>
                <input type="text" name="email" id="email" />
              </div>
              <div class="field">
                <label for="message">Message</label>
                <textarea name="message" id="message" rows="3"></textarea>
              </div>
            </div>
            <ul class="actions">
              <li><input type="submit" value="Send Message" /></li>
            </ul>
          </form>
        </section>
        <section class="split contact">
          <section class="alt">
            <h3>Address</h3>
            <p>
              1234 Somewhere Road #87257<br />
              Nashville, TN 00000-0000
            </p>
          </section>
          <section>
            <h3>Phone</h3>
            <p><a href="#">(000) 000-0000</a></p>
          </section>
          <section>
            <h3>Email</h3>
            <p><a href="#">info@untitled.tld</a></p>
          </section>
          <section>
            <h3>Social</h3>

           
         
          
            <ul class="wrapper">
              <a
            href="https://www.facebook.com/DewDooo/"
            class="icon facebook"
            > <span class="tooltip">Facebook</span>
            <span><i class="fab fa-facebook-f"></i></span></a
          >
              <a href="https://www.facebook.com/DewDooo/" class="icon twitter">
                <span class="tooltip">Twitter</span>
                <span><i class="fab fa-twitter"></i></span></a>
              
                <a href="https://www.instagram.com/rea1.wed/" class="icon instagram">
                <span class="tooltip">Instagram</span>
                <span><i class="fab fa-instagram"></i></span></a>
         
              <a href="https://github.com/NongDja" class="icon github">
                <span class="tooltip">Github</span>
                <span><i class="fab fa-github"></i></span></a>
       
                <a href="https://www.youtube.com/@GoWentGo" class="icon youtube">
                <span class="tooltip">Youtube</span>
                <span><i class="fab fa-youtube"></i></span></a>
            </ul>
          </section>
        </section>
      </footer>

      <!-- Copyright -->
      <div id="copyright">
        <ul>
          <li>&copy; Untitled</li>
          <li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
        </ul>
      </div>
    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>
